:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: cyan;
    width: 50%;
    margin: 0 auto;
}

.recipe-image {
    width: 86rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.underline {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.back-to-main {
    text-align: right;
}