:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: cyan;
    width: 50%;
    margin: 0 auto;
    border: 1px solid brown;
    padding: 1rem;
    border-radius: 2.5rem;
}

.recipe-image {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2.5rem;
}

.underline {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.back-to-main {
    text-align: right;
    padding-right: 1rem;
}

.recipe-link {
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(73, 122, 54);
}

.recipe-link:hover {
    color: rgb(19, 43, 124);
}

.recipe-links {
    text-align: center;
}

.main-flag {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
}